.counterButton {
    padding: 10px;
    background-color: #cccccc;
    width: 30px;
}

.reset {
    background-color: red;
    width: 120px;
}

.container {
    display: flex;
    padding: 20px;
    color: blue;
}